@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .underline-thick {
        text-decoration: underline;
        text-decoration-thickness: 0.15rem;
    }

    .highlight {
        padding: 0.25rem;
        font-weight: bold;
    }
}

html, body {
    @apply bg-primary-900;
    min-height: 100%;
    overflow-x: hidden;
}
